@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	scroll-behavior: smooth;
}

body * {
	-moz-scrollbar-width: none;
	-ms-overflow-style: none;
}

body *::-webkit-scrollbar {
	display: none;
	width: none;
}
